.App {
  text-align: center;
  margin: 30px;
}

.buttons {
  display: flex;
  width: 500px;
  margin: 0 auto;
  justify-content: space-around;
}

button {
  padding: 0.8em;
}

.output-console {
  background-color: black;
  width: 500px;
  margin: 0 auto;
  min-height: 300px;
  margin-top: 20px;
  padding: 0.5em;
  text-align: left;
}

pre {
  color: yellow;
}


